.heading,
.text {
  align-self: flex;
  position: relative;
  line-height: 120%;
  justify-content: center;
  display: flex;
}

.text {
    font-size: 18px;
    line-height: 150%;
  }

  .container,
  .header-64 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .container {
    width: Fixed (1,440px);
    height: Hug (1,350px);
    padding: 0px, 64px, 112px, 64px;
    gap: 80px;
    justify-items: center;

  }  

.header-64 {
    background-color: #fff;
    width: 1440px;
    overflow: hidden;
    padding: 112px 64px;
    box-sizing: border-box;
    z-index: 0;
    text-align: center;
    font-size: 56px;
  }

  .container1 {
    align-self: stretch;
    flex-direction: row;
    position: relative;
    gap: 32px;
  }

  .page-group-one {
    font-size: 14px;
    font-weight: 600;
  }
  .lorem-ipsum-dolor,
  .page-group-one,
  .page-one {
    align-self: stretch;
    position: relative;
    line-height: 150%;
  }
  .page-one {
    font-weight: 600;
  }
  .lorem-ipsum-dolor {
    font-size: 14px;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .content9 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 0 16px;
    font-size: 48px;
  }
  .dolor-enim-eu {
    align-self: stretch;
    position: relative;
    line-height: 140%;
  }
  .content10 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 0 16px;
    font-size: 20px;
  }
  .mi-tincidunt-elit {
    align-self: stretch;
    position: relative;
    line-height: 150%;
  }
  .content11,
  .content12 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 16px;
  }
  .content12 {
    padding: 32px 0 16px;
    font-size: 40px;
  }
  .heading-4 {
    align-self: stretch;
    position: relative;
    line-height: 130%;
  }
  .content15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 0 16px;
    font-size: 32px;
  }
  .content15,
  .content17,
  .content20 {
    align-self: stretch;
    flex-direction: column;
  }
  .content17 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 0 16px;
    font-size: 24px;
  }
  .content20 {
    width: 768px;
    padding: 0 0 16px;
    box-sizing: border-box;
  }
  .content19,
  .content20,
  .content21,
  .rich-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content19 {
    align-self: stretch;
    overflow: hidden;
    flex-direction: row;
    padding: 20px 0 32px;
  }
  .content21,
  .rich-text {
    flex-direction: column;
  }
  .content21 {
    align-self: stretch;
    padding: 24px 0 16px;
    font-size: 20px;
  }
  .rich-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 768px;
  }
  .rich-text-wrapper {
    position: relative;
    width: 768px;
    height: 1238px;
  }
  .content-7,
  .content8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .content-7 {
    background-color: #fff;
    width: 1440px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    padding: 0 64px 112px;
    box-sizing: border-box;
    z-index: 2;
  }

  .terms-and-conditions-page {
    position: relative;
    width: 100%;
    align-items: flex-start;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
  }